In [1]:
from googleapiclient.discovery import build
from google.oauth2.credentials import Credentials

from google.oauth2 import service_account

import pandas as pd

In [4]:
# Configuring the credentials
SCOPES = ['https://www.googleapis.com/auth/spreadsheets']
SERVICE_ACCOUNT_FILE = 'key.json'

creds = None
creds = service_account.Credentials.from_service_account_file(
    SERVICE_ACCOUNT_FILE, scopes=SCOPES)

In [6]:
# Defining the constants
SAMPLE_SPREADSHEET_ID = '1EbJDUvYzy2tmeVCh8sfMSI7jJQYsEBYFvpLEsacQVYw' # Refers to the intented spreadsheet

In [7]:
# Build the service
service = build('sheets', 'v4', credentials=creds)

In [22]:
# Access the sheets
sheet = service.spreadsheets()
result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                            range="sheet1").execute()

In [23]:
values = result.get('values', [])
column_names = values[0]
values.remove(column_names)

In [27]:
stats = pd.DataFrame(values, columns = column_names)
stats

,Timestamp,Oxygen Levels,Pulse,BP - Systole,BP - Diastole,Temperature,Blood Sugar,Filled By:,Date of check?,Time of check?
0,5/9/2021 22:26:26,99,68,134,79,99.3,,Rushyant,5/9/2021,9:18:00 PM
1,5/9/2021 23:10:28,99,67,146,84,99.4,1,Rushyant,5/9/2021,11:10:00 PM
2,5/10/2021 16:30:37,99,68,126,87,99.3,,Abhishek,5/10/2021,3:45:00 PM